@charset "UTF-8";

.tit_faq{color:#1D4B2C; position:relative;}
.tit_faq strong{font-size:25px; padding-right:10px;}
.tit_faq span{font-size:14px; font-weight:400}
.tit_faq:before{content:""; display:block; position:absolute; width:120px; height:150px; background:url(https://myabcdebucket.s3.ap-northeast-2.amazonaws.com/0a3e3f002bfd508b0a8cb0b15e3ae284.jpg) no-repeat; right:0px; top:36px;}