
.e1_2 { 
   background-color:rgba(235.87500303983688, 235.87500303983688, 255, 1);
   width:1920px;
   height:2091px;
   position:absolute;
}
.e1_117 { 
   background-color:rgba(255, 255, 255, 1);
   width:1920px;
   height:180px;
   position:absolute;
   left:0px;
   top:0px;
}
.e1_119 { 
   color:rgba(0, 0, 0, 1);
   width:167px;
   height:30px;
   position:absolute;
   left:320px;
   top:54px;
   font-family:Inter;
   text-align:left;
   font-size:25px;
   letter-spacing:0;
}
.e1_120 { 
   box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
   background-color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
   width:200px;
   height:44px;
   position:absolute;
   left:1339px;
   top:56px;
   border-radius:100px;
}

.e1_124 { 
   background-color:rgba(255, 227.37499594688416, 227.37499594688416, 1);
   width:30px;
   height:30px;
   position:absolute;
   left:1494px;
   top:63px;
}

.e1_141 { 
   background-color:rgba(255, 227.37499594688416, 227.37499594688416, 1);
   width:44px;
   height:44px;
   position:absolute;
   left:1631px;
   top:10px;
}

.e2_174 { 
   background-color:rgba(255, 227.37499594688416, 227.37499594688416, 1);
   width:1920px;
   height:681px;
   position:absolute;
   left:0px;
   top:180px;
}

.e1_125 { 
   background-color:rgba(14.000000115484, 138.00000697374344, 102.00000151991844, 1);
   width:1920px;
   height:56px;
   position:absolute;
   left:0px;
   top:124px;
}
.e2_219 { 
   background-color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
   width:1920px;
   height:1230px;
   position:absolute;
   left:0px;
   top:861px;
}
.e1_131 { 
   color:rgba(255, 255, 255, 1);
   width:28px;
   height:18px;
   position:absolute;
   left:1418px;
   top:143px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_132 { 
   color:rgba(255, 255, 255, 1);
   width:69px;
   height:18px;
   position:absolute;
   left:1531px;
   top:143px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_139 { 
   color:rgba(0, 0, 0, 1);
   width:42px;
   height:18px;
   position:absolute;
   left:1558px;
   top:73px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_130 { 
   color:rgba(255, 255, 255, 1);
   width:28px;
   height:18px;
   position:absolute;
   left:1305px;
   top:143px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_129 { 
   color:rgba(255, 255, 255, 1);
   width:28px;
   height:18px;
   position:absolute;
   left:1192px;
   top:143px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_128 { 
   color:rgba(255, 255, 255, 1);
   width:56px;
   height:18px;
   position:absolute;
   left:1051px;
   top:143px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_155 { 
   background-color:rgba(14.000000115484, 138.00000697374344, 102.00000151991844, 1);
   width:1920px;
   height:56px;
   position:absolute;
   left:0px;
   top:1884px;
}
.e2_162 { 
   color:rgba(255, 255, 255, 1);
   width:5px;
   height:18px;
   position:absolute;
   left:647px;
   top:1903px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_161 { 
   color:rgba(255, 255, 255, 1);
   width:5px;
   height:18px;
   position:absolute;
   left:495px;
   top:1903px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_156 { 
   color:rgba(255, 255, 255, 1);
   width:60px;
   height:18px;
   position:absolute;
   left:671px;
   top:1903px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_158 { 
   color:rgba(255, 255, 255, 1);
   width:111px;
   height:18px;
   position:absolute;
   left:518px;
   top:1903px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_159 { 
   color:rgba(255, 255, 255, 1);
   width:56px;
   height:18px;
   position:absolute;
   left:420px;
   top:1903px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_160 { 
   color:rgba(255, 255, 255, 1);
   width:56px;
   height:18px;
   position:absolute;
   left:322px;
   top:1903px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e1_157 { 
   color:rgba(255, 255, 255, 1);
   width:5px;
   height:18px;
   position:absolute;
   left:395px;
   top:1903px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_163 { 
   background-color:rgba(14.000000115484, 138.00000697374344, 102.00000151991844, 1);
   width:1920px;
   height:151px;
   position:absolute;
   left:0px;
   top:1940px;
}
.e2_164 { 
   background-color:rgba(230.56249290704727, 230.56249290704727, 230.56249290704727, 1);
   width:1920px;
   height:1px;
   position:absolute;
   left:0px;
   top:1940px;
}
.e2_165 { 
   color:rgba(255, 255, 255, 1);
   width:390px;
   height:18px;
   position:absolute;
   left:530px;
   top:1978px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_170 { 
   color:rgba(255, 255, 255, 1);
   width:256px;
   height:18px;
   position:absolute;
   left:819px;
   top:2036px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_166 { 
   color:rgba(255, 255, 255, 1);
   width:133px;
   height:18px;
   position:absolute;
   left:787px;
   top:2010px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_171 { 
   color:rgba(255, 255, 255, 1);
   width:186px;
   height:18px;
   position:absolute;
   left:973px;
   top:1978px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_172 { 
   color:rgba(255, 255, 255, 1);
   width:178px;
   height:18px;
   position:absolute;
   left:1212px;
   top:1978px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_168 { 
   color:rgba(255, 255, 255, 1);
   width:5px;
   height:18px;
   position:absolute;
   left:944px;
   top:1978px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_173 { 
   color:rgba(255, 255, 255, 1);
   width:5px;
   height:18px;
   position:absolute;
   left:944px;
   top:2010px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_169 { 
   color:rgba(255, 255, 255, 1);
   width:5px;
   height:18px;
   position:absolute;
   left:1183px;
   top:1978px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_167 { 
   color:rgba(255, 255, 255, 1);
   width:133px;
   height:18px;
   position:absolute;
   left:973px;
   top:2010px;
   font-family:Inter;
   text-align:left;
   font-size:15px;
   letter-spacing:0;
}
.e2_175 { 
   color:rgba(0, 0, 0, 1);
   width:115px;
   height:30px;
   position:absolute;
   left:683px;
   top:934px;
   font-family:Inter;
   text-align:left;
   font-size:25px;
   letter-spacing:0;
}
.e2_176 { 
   color:rgba(0, 0, 0, 1);
   width:69px;
   height:30px;
   position:absolute;
   left:925px;
   top:934px;
   font-family:Inter;
   text-align:left;
   font-size:25px;
   letter-spacing:0;
}
.e2_177 { 
   color:rgba(0, 0, 0, 1);
   width:69px;
   height:30px;
   position:absolute;
   left:1121px;
   top:934px;
   font-family:Inter;
   text-align:left;
   font-size:25px;
   letter-spacing:0;
}
.e2_178 { 
   background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
   width:320px;
   height:420px;
   position:absolute;
   left:390px;
   top:1036px;
}
.e2_188 { 
   background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
   width:320px;
   height:420px;
   position:absolute;
   left:800px;
   top:1036px;
}
.e2_189 { 
   background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
   width:320px;
   height:420px;
   position:absolute;
   left:1210px;
   top:1036px;
}
.e2_184 { 
   background-color:rgba(255, 227.37499594688416, 227.37499594688416, 1);
   width:55px;
   height:55px;
   position:absolute;
   left:320px;
   top:1218px;
}

.e2_190 { 
   background-color:rgba(255, 227.37499594688416, 227.37499594688416, 1);
   width:55px;
   height:55px;
   position:absolute;
   left:1545px;
   top:1218px;
}

.e2_191 { 
   color:rgba(0, 0, 0, 1);
   width:115px;
   height:30px;
   position:absolute;
   left:492px;
   top:1470px;
   font-family:Inter;
   text-align:left;
   font-size:25px;
   letter-spacing:0;
}
.e2_192 { 
   color:rgba(0, 0, 0, 1);
   width:115px;
   height:30px;
   position:absolute;
   left:902px;
   top:1470px;
   font-family:Inter;
   text-align:left;
   font-size:25px;
   letter-spacing:0;
}
.e2_193 { 
   color:rgba(0, 0, 0, 1);
   width:115px;
   height:30px;
   position:absolute;
   left:1312px;
   top:1470px;
   font-family:Inter;
   text-align:left;
   font-size:25px;
   letter-spacing:0;
}
.e2_194 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:410px;
   top:1559px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_195 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:410px;
   top:1593px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_196 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:410px;
   top:1627px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_198 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:410px;
   top:1661px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_199 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:410px;
   top:1587px;
}
.e2_200 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:410px;
   top:1622px;
}
.e2_201 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:410px;
   top:1656px;
}
.e2_202 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:823px;
   top:1559px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_203 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:823px;
   top:1593px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_204 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:823px;
   top:1627px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_205 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:823px;
   top:1661px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_206 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:823px;
   top:1587px;
}
.e2_207 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:823px;
   top:1622px;
}
.e2_208 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:823px;
   top:1656px;
}
.e2_209 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:1233px;
   top:1559px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_210 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:1233px;
   top:1593px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_211 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:1233px;
   top:1627px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_212 { 
   color:rgba(0, 0, 0, 1);
   width:37px;
   height:24px;
   position:absolute;
   left:1233px;
   top:1661px;
   font-family:Inter;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_213 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:1233px;
   top:1587px;
}
.e2_214 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:1233px;
   top:1622px;
}
.e2_215 { 
   background-color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
   width:273px;
   height:1px;
   position:absolute;
   left:1233px;
   top:1656px;
}
.e2_216 { 
   color:rgba(0, 0, 0, 1);
   width:30px;
   height:19px;
   position:absolute;
   left:535px;
   top:1514px;
   font-family:Inter;
   text-align:left;
   font-size:16px;
   letter-spacing:0;
}
.e2_217 { 
   color:rgba(0, 0, 0, 1);
   width:30px;
   height:19px;
   position:absolute;
   left:945px;
   top:1514px;
   font-family:Inter;
   text-align:left;
   font-size:16px;
   letter-spacing:0;
}
.e2_218 { 
   color:rgba(0, 0, 0, 1);
   width:30px;
   height:19px;
   position:absolute;
   left:1355px;
   top:1514px;
   font-family:Inter;
   text-align:left;
   font-size:16px;
   letter-spacing:0;
}